<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Text</label>
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="add Text">
    </div>
    <div class="form-control">
        <label for="day">Add day & Time</label>
        <input type="text" name="day" id="day" [(ngModel)]="day" placeholder="add Text">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder">
    </div>
    <button value="submit" class="btn btn-block">Save</button>
</form>
